= simple_form_for [@post, @comment],
    :url => api_v1_post_comments_path(@post) do |f|

  = f.input :parent_id, :as => :hidden

  = f.input :commenter
  = f.input :body

  = f.button :submit
  -#FIXME: looks different
  = link_to t('back'), post_path(@post), :class => 'btn'
