= simple_form_for [@post, @post.comments.build],
    :url => post_comments_path(@post) do |f|
  = f.input :commenter
  = f.input :body

  = f.button :submit
  -#FIXME: should be translatable or have default attributes
  = f.button :button, 'Cancel', :type => 'reset'
