= form_for [@post, @post.comments.build], :html => { :class => 'form' } do |f|
  .control-group
    = f.label :commenter, :class => 'control-label'
    .controls
      = f.text_field :commenter, :class => 'text_field'
  .control-group
    = f.label :body, :class => 'control-label'
    .controls
      = f.text_field :body, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
