= simple_form_for @post, :wrapper => 'bootstrap', :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :text
  = f.input :state_event, :as => :fsm_call
  = f.input :picture, :as => :file

  %h3=t '.title', :default => :comments
  #comments
    = f.simple_fields_for :comments do |comment|
      = render 'comment_fields', :f => comment
    .links
      = link_to_add_association t(:add_comment), f, :comments,
          :render_options => { :wrapper => 'bootstrap' }


  = f.button :submit
  = link_to t('.cancel', :default => t("helpers.links.cancel")), posts_path, :class => 'btn'
