- model_class = Post

.page-header
  %h1= model_class.model_name.human.pluralize.titleize

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:text)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:created_at)
      %th= t('.actions')
  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to post.title, post
        %td= post.preview_text
        %td= post.state
        %td= post.created_at
        %td
          -#FIXME: translations can't be specified
          = link_to t('edit'), edit_post_path(post),
              :class => 'btn btn-mini'
          = link_to t('destroy'), post_path(post), :method => :delete,
              :data => { :confirm => 'helpers.links.confirm' },
              :class => 'btn btn-mini btn-danger'

= paginate @posts

= link_to t('new'), new_post_path, :class => 'btn btn-primary'
