- child_model_class = Post::Comment
.page-header
  %h3= @post.title

%p
  = @post.text

%p
  = image_tag @post.picture

%h4= child_model_class.model_name.human.pluralize.titleize
.comments
  = nested_comments @post.comments

%h4= t('.add_comment')
= render 'web/posts/comments/form'

-#FIXME: translations can't be specified
.form-actions
  = link_to t('back'), posts_path, :class => 'btn'
  = link_to t('edit'), edit_post_path(@post), :class => 'btn'
  = link_to t('destroy'), post_path(@post), :method => 'delete',
      :data => { :confirm => t('helpers.links.confirm')},
      :class => 'btn btn-danger'
